@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body { 
  color: brown;
  text-align: center;
  margin-top: 100px;
}
  .card-body{
    background-color: #fff;
    border: 3px solid #7411d7;
    border-radius: 10%;
    color: rgb(8, 8, 8);
    width: 240px;
    margin: 20px;
};

#view {

  display: flex; 
  padding: 30px; 
  flex-wrap: wrap; 
  justify-content: center;
}

#card-container {
  display: flex; 
  flex-wrap: wrap; 
  padding: 30px; 
  flex-wrap: wrap; 
  justify-content: center;
}
.navbar{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(0,10,61,1) 100%);
  color:white;
}
img{
  background-color: transparent;
}
.record{
  border-radius: 25%;
}
.btn{
  margin: 10px;
}

.btn-outline-secondary {
  color: white;
}
